@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .react {
    animation: logo-spin infinite 20s linear;
  }
}

.promotions-navigate-btn{
  opacity: 0.2;
  cursor: pointer;
}
.promotions-navigate-btn:hover{
  opacity: 1;
}